<div class="container">
  <div class="frame">
    <div class="form">
      <img
        class="img-custom"
        src="https://st.quantrimang.com/photos/image/2017/08/09/khoi-phuc-user-profile-640.jpg"
        alt=""
      />
      <form autocomplete="off" class="form-custom" action="" *ngIf="loginForm && !registerForm">
        <h1 class="title">Login</h1>
        <input
          autocomplete="nope"
          name="email"
          type="email"
          placeholder="example@example.com"
        />
        <input autocomplete="nope" type="password" />
        <button class="btn-custom">LOGIN</button>
        <p>Forgot <a href="/" target="_blank">Username/Password</a></p>
        <p>Don't have account? <button (click)="goRegister()">Register</button></p>
      </form>
      <form autocomplete="off" class="form-custom" action="" *ngIf="!loginForm && registerForm">
        <h1 class="title">Register</h1>
        <input
          autocomplete="nope"
          name="email"
          type="email"
          placeholder="example@example.com"
        />
        <input autocomplete="nope" type="password" />
        <input autocomplete="nope" type="password" />
        <button class="btn-custom">REGISTER</button>
        <p>Return <button (click)="returnLogin()">Login page!</button></p>
      </form>
    </div>
  </div>

  <div class="alert" *ngIf="alert">
      <p>Hello</p>
  </div>
</div>
